*{
	font-family: Arial, serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
		overflow: hidden;

}

.container{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	max-width: 1920px;
	padding: 0;
}

div {
	display: block;
}


#page-header b {
	color: #ffdbe5;
	font-weight: normal;
}

#page-header small {
	margin-right: 5px;
}

#page-header {
	position: relative;
	background: #940125;
	width: 100%;
	padding: 20px;
	padding-top: 5px;
	padding-bottom: 25px;
	border-bottom: 10px solid #a27249;
	color: white;
}

#page-header > h1 {
	letter-spacing: -3px;
	font-weight: normal;
	display: inline-block;
	font-size: 65px;
	margin-top: 22px;
	position: absolute;
}

#page-header > h2 {
	font-size: 30px;
	font-weight: normal;
	position: relative;
	display: inline-block;
}

img#logo {
	height: 110px;
	margin: 10px 15px;
	margin-bottom: 0px;
	margin-right: 40px
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

#left-container {
	width: 65%;
	float: left;
}

#right-container {
	width: 35%;
	float: right;
}





.column {
}

#now-column {
	width: 65%;
}

#next-column {
	width: 35%;
}

.box-head {
	padding: 4px;
	padding-top: 0;
	color: #3c2a1b;
}

.box {
	color: black;
	border: 2px solid #8f0024;
	background: #ffebf0;
	padding: 4px;
}

.box-left {
}

.box-right {
	border-left: 0;
	background: #fff;
}


.panel {
	margin-bottom: 40px;
}

#today {
	height: 250px;
}

#announce {
	height: 200px;
}

#upcoming {
	height: 200px;
}

#rotator {
	width: 650px;
	height: 120px;
}


.padded {
	padding: 10px 15px;
}