*{
	font-family: Helvetica, serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.container{
	position: relative;
	margin: 0 auto;
	height: 100%;
	padding: 0;
}

div {
	display: block;
}

.fullscreen {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#loading-container {
	background: white;
	opacity: .98;
	z-index: 100;
}

.centrecentre {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	margin-right: 50%; /* Half the width */
	transform: translate(-50%, -50%);
}

/* Header stuff */

#meridian {
	margin-left: 2px;
}

#page-header {
	position: relative;
	background: #940125;
	width: 100%;
	height: 54px;
	padding: 5px 10px;
	border-bottom: 4px solid #a27249;
	color: white;
	background: url(/img/headerBg.jpg);
	background-size: cover;
	z-index: 10;
}

#page-header h1 {
	letter-spacing: -3px;
	font-weight: normal;
	display: block;
	font-size: 1.8em;
	overflow: hidden;
	text-transform: lowercase;
}

#page-header b {
	color: #ffdbe5;
	font-weight: normal;
}

#page-header h2 {
	position: relative;
	top: -8px;
	opacity: .98;
	font-size: 0.8em;
	font-weight: normal;
	display: inline-block;
	text-transform: lowercase;
}

img#logo {
	height: 40px;
	float: left;
	padding-right: 10px;
	margin-top: -2px;
}

#rotator {
	position: absolute;
	float: right;
	top: 25px;
	right: 30px;
	border-radius: 10px;
	background: #ffccd9;
	height: 120px;
	opacity: .95;
	width: calc(100% - 1090px);
	display: none;
}

#header-back{
	position: absolute;
	top: -40px;
	right: 10px;
	text-align: right;
	overflow: hidden;
	font-size: 160px;
	opacity: .15;
	letter-spacing: -10px;
	height: 90px;
}

#plenty-campus{
	text-transform: uppercase;
	font-weight: bold;
}



/* body stuff */
.flexbox {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: stretch;
}

.flexchild {
	flex: 1;
	margin: 0px 5px;
}


#main-container{
	padding: 6px;
	padding-top: 15px;
	z-index: 0;
	background: #eaedf2 url(/img/bodyBg.jpg);
	background-size: cover;
}

#left-container {
	width: 55%;
}

#right-container {
	width: 45%;
	margin-left: 5px;
}

#holiday-container {
	z-index: 1;
	background-color: rgba(34,34,34,.8);
	display: none;
}

#holiday-container .box {
	width: 75%;
	font-size: 14px;
}

.panel {
	margin-bottom: 5px;
}

.box-head {
	font-weight: bold;
	color: #3c2a1b;
	height: 36px;
	overflow: hidden;
}


.box-head h1 {
	display: inline-block;
	font-size: 1.75em;
	word-spacing: -5px;
}

.title {
	text-transform: uppercase;
}

.box {
	color: black;
	border: 1px solid #8f0024;
	/*margin-bottom: 8px;*/
	overflow: hidden;
	font-size: 1em;
	padding: 5px;
	background: #ffebf0;
}


#events {
	max-height: 200px;
}

#announcements {
	max-height: 200px;
}





#timetable .box {
	margin-bottom: 4px;
	height: 52px;
	/*display: none;*/
	overflow: hidden;
}

.box-short {
	height: 36px !important;
}

.box-short .line:nth-child(2) {
	display: none !important;
}

.column-now {
	width: 55%;
}

.column-next {
	width: 45%;
	opacity: .85;
}

.column-now > .box {
	background: #ffccd9;
	display: none;
}

.column-next > .box {
	display: none;
}

#timetable .box .line {
	text-overflow: ellipsis;
	display: inline-block;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
  	/* Required for text-overflow to do anything */
  	white-space: nowrap;
  	overflow: hidden;
 	width: 100%;
}

#timetable .box .line:not(:first-child) {
	position: relative;
	top: -5px;
	font-size: 1em;
}


.subject-title {
	font-size: 20px;
	/*text-transform: uppercase;*/
}

.column-now .subject-title {
	font-weight: bold;
}


.subject-abbr {
	color: #555;
	margin-right: 5px;
}

.subject-room {
	margin-right: 5px;
}

.subject-teacher {
	color: #444;
}





#footer {
	position: absolute;
	bottom: 0;
	color: #bbb;
	font-size: 11px;
	background: #940125;
	width: 100%;
	padding: 5px 10px;
	border-top: 2px solid #a27249;


	z-index: 10;
}

#school-left {
	font-style: italic;
	margin-left: 20px;
}

#debug-buttons {
	display: inline-block;
	display: none;
	float: right;
}

button, input {
	margin: 0;
	border: none;
	margin-top: -5px;
	margin-left: 5px;
	padding: 5px 10px;
	color: white;
	background: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.padded {
	padding: 3px 5px;
}



.badge {
	font-size: 12px;
  padding: 2px 5px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  	word-spacing: 0px;
  	display: none;
}

}
.badge-error {
  background: #b94a48;
}
.badge-warning {
  background: #f89406;
}
.badge-success {
  background: #468847;
}
.badge-info {
  background: #3a87ad;
}
.badge-inverse {
  background: #333333;
}

.tiny {
	font-size: 8px;
}

.info {
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	color: #555;
	float: right;
	margin-top: 10px;
}

.start-time, .end-time {
	position: relative;
	top: -10px;
	font-size: 8px;
	font-weight: normal;
	color: #aaa;
}

.start-time {
	float: left;
}

.end-time {
	float: right;
}



#temp-table {
	display: none;
}

a {
	color: black;
}



.marquee {
	display: block;
	position: relative;
    height: 200%;
}

.marquee div {
	float: top;
	height: 50%;
	padding-bottom: 50px;
	animation-name: marquee;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.marquee div p {
	padding-bottom: 10px;
}

@keyframes marquee {
 	0%   { transform: translateY(0)}
    100% { transform: translateY(-100%) }
}




.bulletin-time {
	font-size: .6em;
	display: block;
}

.bulletin-event {
	font-weight: bold;
	font-size: 1em;
}

.bulletin-venue {
	font-style: italic;
	font-size: .8em;
	display: block;
}

#events li {
	margin-bottom: 1em;
	list-style: none;
}
