*{
	font-family: Helvetica, serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
}

:root{
	--scalar: 0.6;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.container{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
}

#page-header {
	position: fixed;
	background: #940125;
	width: 100%;
	height: 80px;
	padding: 20px;
	padding-top: 5px;
	border-bottom: 10px solid #a27249;
	z-index: 10;
}

#header-info {
	font-size: 30px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 5px;
   	text-transform: lowercase;
}

img#logo {
	float: left;
	height: 50px;
	margin: 5px 10px;
}


#plenty-campus{
	left: 125px;
	position: absolute;
	text-transform: uppercase;
	font-weight: bold;
}

/* body stuff */
.flexbox {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: stretch;
}

.flexchild {
	flex: 1;
	margin: 0px 5px;
}

#site-container {
    height: 100%;
}

#main-container{ 
	padding: 90px 30px;
	min-height: calc(100vh - 43px);
	z-index: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

#left-container {
	min-width: 1152px;

}

#right-container {
	min-width: 600px;
}

.box {
	color: black;
	border: 2px solid #8f0024;
	margin-bottom: 8px;
	overflow: auto;
	font-size: 24px;
	padding: 8px;
	background: #ffebf0;
}

.panel {
	margin-bottom: 20px;
}

#rotator {
	border-radius: 10px;
	background: #ffccd9;
	height: 120px;
	opacity: .95;
	display: none;
}

.box-head {
	padding: 5px;
	font-weight: bold;
	color: #3c2a1b;
	height: 75px;
	overflow: hidden;
}


.box-head h1 {
	display: inline-block;
	font-size: 3.5em;
	word-spacing: -5px;
	text-transform: uppercase;
}



#footer {
	color: #bbb;

	background: #940125;
	width: 100%;
	padding: 10px 20px;
	border-top: 5px solid #a27249;

	z-index: 10;
}


button, input, textarea {
	border: none;
	padding: 10px 15px;
	color: black;
	background: white;
	text-decoration: none;
	font-size: 26px;
	min-width: 120px;
}

button, #flatpickr {
	text-align: center;
	display: inline-block;
}

form textarea, form input {
	width: 100%;
	display: block;
	margin-bottom: 5px
}

.padded {
	padding: 10px 15px;
}



.badge {
	font-size: 24px;
  padding: 3px 10px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  vertical-align: middle;
  position: relative;
  top: -4px;
  	word-spacing: 0px;
  	display: none;
}

}
.badge-error {
  background: #b94a48;
}
.badge-warning {
  background: #f89406;
}
.badge-success {
  background: #468847;
}
.badge-info {
  background: #3a87ad;
}
.badge-inverse {
  background: #333333;
}

.tiny {
	font-size: .8em;
}

.info {
	font-weight: normal;
	font-style: italic;
	font-size: 24px;
	color: #555;
	float: right;
	margin-top: 28px;
}




#iframe-wrapper {
	width: calc(1920px*var(--scalar)); height: calc((880px)*var(--scalar)); padding: 0; overflow: hidden;
	border: 5px #a27249 solid;
}

iframe {
	margin-top: calc(-170px*var(--scalar));
}

#scaled-frame {
	width: 1920px; height: 1080px; border: 0px;
}

#scaled-frame {
    zoom: var(--scalar);
    -moz-transform: scale(var(--scalar));
    -moz-transform-origin: 0 0;
    -o-transform: scale(var(--scalar));
    -o-transform-origin: 0 0;
    -webkit-transform: scale(var(--scalar));
    -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
 	#scaled-frame  { zoom: 1;  }
}